<div class="form-container">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="field-group">
      <div class="fields">
        <mat-form-field color="accent">
          <mat-label>Describe : </mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>
      </div>
      <div class="fields">
        <mat-form-field color="accent">
          <mat-label>Amount : </mat-label>
          <input
            matInput
            type="number"
            formControlName="amount"
            (input)="setAmount($event)"
          />
        </mat-form-field>
        <p class="error" *ngIf="amountError">{{ amountErrorMessage }}</p>
      </div>
    </div>
    <div class="field-group">
      <div class="fields">
        <mat-form-field color="accent">
          <mat-label>Paid By : </mat-label>
          <mat-select formControlName="paidBy" (selectionChange)="onPaidBy()">
            <mat-option
              [value]="{ id: user['id'], name: user['name'], amount: 0 }"
              *ngFor="let user of userOptions"
              >{{ user.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="fields">
        <mat-form-field color="accent">
          <mat-label>Split between</mat-label>
          <mat-select
            multiple
            [compareWith]="compareUsers"
            formControlName="splitBetween"
            (selectionChange)="onSplitBetweenChange()"
          >
            <mat-option
              *ngFor="let user of userOptions"
              [value]="{ id: user.id, name: user.name }"
              [disabled]="paidBy['id'] === user.id"
            >
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p class="error" *ngIf="error">{{ splitError }}</p>
      </div>
    </div>
    <div class="fields split-field">
      <mat-form-field color="accent">
        <mat-label>Split type : </mat-label>
        <mat-select
          formControlName="splitType"
          (selectionChange)="onSplitType()"
        >
          <mat-option [value]="type" *ngFor="let type of splitType">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="split-wrapper" *ngIf="type === 'even'">
      <mat-form-field
        color="accent"
        class="members"
        *ngFor="let user of splitBetween"
      >
        <input matInput [value]="user.name + ' - ' + evenAmount" readonly />
      </mat-form-field>
    </div>
    <div class="split-wrapper" *ngIf="type === 'custom'">
      <mat-form-field
        color="accent"
        class="members"
        *ngFor="let user of splitBetween; let i = index"
      >
        <mat-label>{{ user.name }}</mat-label>
        <input
          matInput
          type="number"
          class="amount-split"
          (input)="onCustomAmount($event, i)"
        />
      </mat-form-field>
      <p class="error" *ngIf="error">{{ errorMessage }}</p>
    </div>
    <div class="actions">
      <button
        color="accent"
        [disabled]="error || expenseForm.invalid || !isValidAmount || amountError"
        mat-dialog-close
        type="submit"
        mat-raised-button
      >
        Add
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>
